### Generate sales order lines given sales_order_id and order_date

In [5]:
import random
from datetime import datetime

modified_date = datetime(year=2023, month=10, day=20)

def generate_sales_order_lines(sales_order_id=12345, modified_date=modified_date):
    lines_count = random.randint(1, 10)
    products = []
    for line in range(1, lines_count + 1):
        product = random.randint(1, 606)
        while product in products:
            product = random.randint(1, 606)
        products.append(product)
        
        qty = random.randint(1, 20)
        insert_query = (
            f"INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) "
            f"VALUES ({sales_order_id}, {line}, {product}, {qty}, '{modified_date.strftime('%Y-%m-%d %H:%M:%S')}');"
        )
        print(insert_query)

generate_sales_order_lines()

INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 1, 230, 1, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 2, 588, 8, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 3, 442, 3, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 4, 10, 2, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 5, 447, 5, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 6, 55, 3, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 7, 3, 3, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 8, 223, 11, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 9, 458, 7, '2023-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12345, 10, 478, 19, '2023-10-20 00:00:00');

### Generate new customer given CustomerID

In [10]:
from faker import Faker
import random

modified_date = datetime(year=2023, month=10, day=20)
def generate_customer_info(customer_id=97, modified_date=modified_date):
    fake = Faker()
    name = fake.name()
    email = fake.email()
    age = random.randint(17, 90)
    insert_query = (
            f"INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) "
            f"VALUES ({customer_id}, \"{name}\", {email}, {age}, '{modified_date.strftime('%Y-%m-%d %H:%M:%S')}');"
        )
    print(insert_query)

generate_customer_info()

INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (97, Aaron Jones, johnsonemily@example.com, 68, '2023-10-20 00:00:00');

## Set up working directory

In [2]:
import os
print("Current working directory:", os.getcwd())

Current working directory: /home/phinguyen/ETL_Pipeline_with_Spark_01/notebooks

In [3]:
os.chdir("/home/phinguyen/ETL_Pipeline_with_Spark_01/")
print("Current working directory:", os.getcwd())

Current working directory: /home/phinguyen/ETL_Pipeline_with_Spark_01

In [4]:
import sys
print(sys.path)

['/home/phinguyen/miniconda3/envs/pyspark/lib/python310.zip', '/home/phinguyen/miniconda3/envs/pyspark/lib/python3.10', '/home/phinguyen/miniconda3/envs/pyspark/lib/python3.10/lib-dynload', '', '/home/phinguyen/miniconda3/envs/pyspark/lib/python3.10/site-packages', '/home/phinguyen/ETL_Pipeline_with_Spark_01']

## Creating orders

In [5]:
from src.utils.db_connection import DBConnection

conn = DBConnection()
conn.connect()
conn.list_schemas()

Connection to MySQL database is successful
information_schema
performance_schema
retail_db

In [6]:
query = "SELECT * FROM ProductCategory"
query.strip().lower().startswith("select")

True

In [7]:
query = "SELECT * FROM ProductCategory"
results = conn.execute_query(query=query, on_schema="retail_db")
for record in results:
    print(record)

USE retail_db
(4, 'Accessories')
(1, 'Bikes')
(3, 'Clothing')
(2, 'Components')

In [17]:
query = "SELECT * FROM Customer"
results = conn.execute_query(query=query, on_schema="retail_db")
for record in results:
    print(record)

USE retail_db

In [18]:
print(type(results))

<class 'list'>

### manually create the first customer and his order

In [29]:
from datetime import datetime

modified_date = datetime(year=2022, month=10, day=20)

from faker import Faker
import random

def generate_customer_info(customer_id=1, modified_date=modified_date):
    fake = Faker()
    name = fake.name()
    email = fake.email()
    age = random.randint(17, 90)
    insert_query = (
            f"INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) "
            f"VALUES ({customer_id}, \"{name}\", \"{email}\", {age}, '{modified_date.strftime('%Y-%m-%d %H:%M:%S')}')"
        )
    print(insert_query)
    return insert_query

In [51]:
customer_insert_query = generate_customer_info(customer_id=2, modified_date=modified_date)

INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (2, "Victoria Roberts", "mccoygeorge@example.org", 78, '2022-10-20 00:00:00')

In [52]:
conn.execute_query(customer_insert_query)

In [25]:
conn = DBConnection()
conn.connect()
conn.execute_query(customer_insert_query)

Connection to MySQL database is successful
Error executing query: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Anderson, samanthagarner@example.net, 68, '2022-10-20 00:00:00')' at line 1

Exception: Error executing query: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Anderson, samanthagarner@example.net, 68, '2022-10-20 00:00:00')' at line 1

In [ ]:
def generate_customer_info(customer_id=1, modified_date=modified_date):
    fake = Faker()
    name = fake.name()
    email = fake.email()
    age = random.randint(17, 90)
    insert_query = (
            f"INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) "
            f"VALUES ({customer_id}, \"{name}\", \"{email}\", {age}, '{modified_date.strftime('%Y-%m-%d %H:%M:%S')}')"
        )
    print(insert_query)
    return insert_query

In [33]:
def generate_sales_order_header(sales_order_id=1, modified_date=modified_date, customer_id=1):
    insert_query = (
            f"INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) "
            f"VALUES ({sales_order_id}, '{modified_date.strftime('%Y-%m-%d %H:%M:%S')}', {customer_id})"
        )
    print(insert_query)
    return insert_query

print(generate_sales_order_header())

INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (1, '2022-10-20 00:00:00', 1)
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (1, '2022-10-20 00:00:00', 1)

In [54]:
conn.execute_query(generate_sales_order_header(sales_order_id=2, customer_id=2))

INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (2, '2022-10-20 00:00:00', 2)

In [40]:
import random

def generate_sales_order_lines(sales_order_id=1, modified_date=modified_date):
    lines_count = random.randint(1, 10)
    products = []
    line_insert_queries = []
    for line in range(1, lines_count + 1):
        product = random.randint(1, 606)
        while product in products:
            product = random.randint(1, 606)
        products.append(product)
        
        qty = random.randint(1, 20)
        insert_query = (
            f"INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) "
            f"VALUES ({sales_order_id}, {line}, {product}, {qty}, '{modified_date.strftime('%Y-%m-%d %H:%M:%S')}');"
        )
        print(insert_query)
        line_insert_queries.append(insert_query)
    return line_insert_queries

In [55]:
lines_insert_queries = generate_sales_order_lines(sales_order_id=2, modified_date=modified_date)

INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (2, 1, 343, 13, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (2, 2, 107, 3, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (2, 3, 353, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (2, 4, 144, 9, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (2, 5, 96, 20, '2022-10-20 00:00:00');

In [56]:
for line_insert_query in lines_insert_queries:
    conn.execute_query(line_insert_query)

In [59]:
max_customer_id = conn.execute_query("SELECT MAX(CustomerID) FROM Customer")[0][0]
max_customer_id

2

In [61]:
max_sales_order_id = conn.execute_query("SELECT MAX(SalesOrderID) FROM SalesOrderHeader")[0][0]
max_sales_order_id

2

In [58]:
max_customer_id[0][0]

2

In [62]:
is_new_customer = random.randint(1,10) > 7
is_new_customer

False

In [63]:
def create_n_sales_order(n: int, modified_date: datetime):
    # get the latest CustomerID and SalesOrderID
    max_customer_id = conn.execute_query("SELECT MAX(CustomerID) FROM Customer")[0][0]
    max_sales_order_id = conn.execute_query("SELECT MAX(SalesOrderID) FROM SalesOrderHeader")[0][0]
    
    for i in range(n):
        # 40% chance that the order is created by a new customer
        is_new_customer = random.randint(1,10) > 6
        
        if is_new_customer:
            # get an id for the new customer
            max_customer_id += 1
            curr_customer_id = max_customer_id
            # insert information of the new customer into table Customer
            customer_insert_query = generate_customer_info(customer_id=curr_customer_id, 
                                                           modified_date=modified_date)
            conn.execute_query(customer_insert_query)
        else:
            # pick random a customer from current customers
            curr_customer_id = random.randint(1, max_customer_id)
        
        # create 1 sales order for this current customer
        max_sales_order_id += 1
        sales_order_header_insert_query = generate_sales_order_header(sales_order_id=max_sales_order_id, 
                                                                      modified_date=modified_date, 
                                                                      customer_id=curr_customer_id)
        conn.execute_query(sales_order_header_insert_query)
        
        # create sales order lines for this sales order
        sales_order_line_insert_queries = generate_sales_order_lines(sales_order_id=max_sales_order_id,
                                                                   modified_date=modified_date)
        for line in (sales_order_line_insert_queries):
            conn.execute_query(line)

datetime.datetime(2022, 10, 20, 0, 0)

In [65]:
create_n_sales_order(n=1_000, modified_date=modified_date)

INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (3, '2022-10-20 00:00:00', 2)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 1, 271, 8, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 2, 160, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 3, 372, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 4, 303, 4, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 5, 79, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 6, 545, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 7, 416, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 8, 239, 12, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (3, 9, 502, 8, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (4, '2022-10-20 00:00:00', 1)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (4, 1, 182, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (4, 2, 323, 2, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (4, 3, 527, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (4, 4, 601, 2, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (4, 5, 114, 5, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (3, "Gerald Robinson", "mitchelldaniel@example.org", 74, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (5, '2022-10-20 00:00:00', 3)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (5, 1, 118, 13, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (5, 2, 197, 11, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (5, 3, 223, 3, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (6, '2022-10-20 00:00:00', 1)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (6, 1, 375, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (6, 2, 538, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (6, 3, 593, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (6, 4, 404, 3, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (4, "Jessica Lopez", "matthew42@example.com", 50, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (7, '2022-10-20 00:00:00', 4)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (7, 1, 273, 17, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (7, 2, 423, 2, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (5, "Katie Gibbs", "williamsashley@example.org", 53, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (8, '2022-10-20 00:00:00', 5)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 1, 352, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 2, 147, 16, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 3, 226, 12, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 4, 12, 5, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 5, 476, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 6, 178, 13, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 7, 296, 6, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 8, 327, 17, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 9, 380, 8, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (8, 10, 490, 13, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (6, "Michael Miller", "qsanchez@example.net", 39, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (9, '2022-10-20 00:00:00', 6)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 1, 548, 4, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 2, 99, 18, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 3, 442, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 4, 175, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 5, 336, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 6, 117, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 7, 126, 6, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 8, 93, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (9, 9, 410, 2, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (10, '2022-10-20 00:00:00', 6)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 1, 552, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 2, 346, 16, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 3, 32, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 4, 146, 4, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 5, 250, 9, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 6, 292, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (10, 7, 157, 12, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (11, '2022-10-20 00:00:00', 2)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 1, 279, 4, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 2, 136, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 3, 524, 16, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 4, 543, 15, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 5, 112, 16, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 6, 507, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (11, 7, 432, 7, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (7, "Steven Guzman", "zrichards@example.com", 81, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (12, '2022-10-20 00:00:00', 7)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12, 1, 536, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12, 2, 384, 17, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12, 3, 502, 18, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12, 4, 72, 8, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (12, 5, 109, 6, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (13, '2022-10-20 00:00:00', 7)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (13, 1, 60, 18, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (13, 2, 560, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (13, 3, 147, 12, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (13, 4, 18, 12, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (13, 5, 587, 3, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (8, "James Johnston", "udennis@example.com", 58, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (14, '2022-10-20 00:00:00', 8)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (14, 1, 375, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (14, 2, 525, 9, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (14, 3, 295, 15, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (14, 4, 109, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (14, 5, 52, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (15, '2022-10-20 00:00:00', 3)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (15, 1, 90, 12, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (15, 2, 559, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (16, '2022-10-20 00:00:00', 6)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (16, 1, 600, 6, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (9, "Michael Frank", "lauraturner@example.org", 38, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (17, '2022-10-20 00:00:00', 9)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (17, 1, 230, 1, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (10, "Jorge Foster", "acevedojason@example.com", 17, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (18, '2022-10-20 00:00:00', 10)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (18, 1, 286, 3, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (18, 2, 393, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (18, 3, 200, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (18, 4, 243, 4, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (19, '2022-10-20 00:00:00', 2)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 1, 287, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 2, 352, 4, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 3, 172, 18, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 4, 403, 20, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 5, 91, 18, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 6, 202, 16, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (19, 7, 203, 6, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (11, "Dana Goodman", "johnsonchad@example.net", 48, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (20, '2022-10-20 00:00:00', 11)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (20, 1, 132, 3, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (20, 2, 485, 2, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (20, 3, 231, 10, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (20, 4, 266, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (20, 5, 514, 18, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (12, "Thomas Thompson", "tsalas@example.org", 26, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (21, '2022-10-20 00:00:00', 12)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 1, 560, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 2, 432, 15, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 3, 195, 5, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 4, 8, 6, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 5, 207, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 6, 602, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 7, 307, 13, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 8, 583, 14, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 9, 270, 11, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (21, 10, 484, 3, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (22, '2022-10-20 00:00:00', 12)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (22, 1, 502, 7, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (22, 2, 187, 15, '2022-10-20 00:00:00');
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (23, '2022-10-20 00:00:00', 5)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (23, 1, 218, 5, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (23, 2, 391, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (23, 3, 295, 1, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (23, 4, 101, 5, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (23, 5, 293, 5, '2022-10-20 00:00:00');
INSERT INTO Customer (CustomerID, Name, Email, Age, ModifiedDate) VALUES (13, "Kathleen Allen", "alecunderwood@example.com", 39, '2022-10-20 00:00:00')
INSERT INTO SalesOrderHeader (SalesOrderID, OrderDate, CustomerID) VALUES (24, '2022-10-20 00:00:00', 13)
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (24, 1, 325, 15, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (24, 2, 189, 19, '2022-10-20 00:00:00');
INSERT INTO SalesOrderDetail (SalesOrderID, SalesOrderLineNumber, ProductKey, Qty, ModifiedDate) VALUES (24, 3, 528, 15, '2022-10-20 00:00:00');

In [66]:
date_str = "2020-10-15"
date_obj = datetime.strptime(date_str, "%Y-%m-%d")
date_obj

datetime.datetime(2020, 10, 15, 0, 0)

In [67]:
modified_date

datetime.datetime(2022, 10, 20, 0, 0)